
#content {
	font-size: 0.9em;
	margin: auto;
	width: 820px;
	padding-top: 20px;
	text-shadow: 0px 1px 1px white;
}

#content a
{
	color: #42423D;
	text-decoration:  none;
	font-weight: bold;
}

#content a:hover   {
	color: black;
}

#content h2 {
	text-transform:uppercase;
	font-size: medium;
}

#main {
	clear: none;
	width: 520px;
	margin:0px;
}

#canvas{
	border: solid 5px #3D332A;
	margin:0px;
	margin: 10px 0px 10px;
	height:400;
}

.post {
	border-top: 1px solid #c9c7c0;
	border-top-color: ;
	padding-top: 10px;
}

#content .post h2 {
	text-transform: none;
}

.postBottom {
	font-size: 0.8em;
	color: #797770;
	text-align:right;
	margin-bottom: 5px;
}

#sidebar {
	padding: 20px;
	float: right;
	width:240px;
	border-left: 1px solid #c9c7c0;
}

#olderPosts {
	margin-top:1em;
	margin-bottom:-1em;
}

#newerPosts {
	margin-top:0px;
	text-align:right;
	
}
