html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #E9E7E0;
	background-image:url('tile2.gif');
	padding: 0px;
	margin: 0px;
	color: #42423D;
}
a {
	text-decoration:  none;
	outline:none;
}

#header {
	background-color:#D9D7D0;
	background: -webkit-gradient(linear, left top, left bottom, from(#C9C7C0),  color-stop(0.15, #D9D7D0), color-stop(0.85, #D9D7D0),  to(#C9C7C0));
	background: -moz-linear-gradient(top, #C9C7C0, #D9D7D0 15%, #D9D7D0 85%, #C9C7C0);
	background: -o-linear-gradient(top, #C9C7C0, #D9D7D0 15%, #D9D7D0 85%, #C9C7C0);
	background: -ms-linear-gradient(top, #C9C7C0, #D9D7D0 15%, #D9D7D0 85%, #C9C7C0);
	
	height: 42px;
}

#header a {
	text-shadow: 0px 1px 1px #E9E7E0;
	color: #999790;
}

#header a:hover {
	color: #42423D;
}

h1 {
	position: absolute;
	top: 0px;
	left: 20px;
	font-weight: normal;
	margin: 0px;
}

h1 a
{
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;
	height: 34px;
	display:block;
	vertical-align:top;
}

h1 a:hover {
}

#sectionTabs {
	position: absolute;
	top: 14px;
	left: 240px;
	/*text-transform: uppercase;*/
	font-size: 14px;
	margin: 0px;
	
}

#sectionTabs a
{
	padding: 8px 12px 12px;
	text-decoration:  none;
	font-weight: bold;
}

.tab:hover   {
}

.tab {
}


#header #curTab
{
	background-color: #E9E7E0;
	background-image:url('tile2.gif');
	color: #50463d;
	/*background: -webkit-gradient(linear, left bottom, left top, color-stop(0.95, #E9E7E0), to(#fff));
	background: -moz-linear-gradient(bottom, #B9B7B0 50%, #C9C7C0 80%, #d9d7d0);
	background: -o-linear-gradient(bottom, #B9B7B0 50%, #C9C7C0 80%, #d9d7d0);
	background: -ms-linear-gradient(bottom, #B9B7B0 50%, #C9C7C0 80%, #d9d7d0);*/
	text-shadow: 0px 1px 1px white;
	
	box-shadow: 0px 0px 5px #B9B7B0;
	border-radius: 1px 1px 0px 0px;
}


#login {
	position: absolute;
	right: 8px;
	top: 14px;
}

#login a {
	font-weight: bold;
	font-size: 14px;
}

#login a:hover {
}

#contentDivider {
	position: absolute;
	width:100%;
	background-color: #E9E7E0;
	height: 4px;
	/*z-index:2;*/
	top: 42px;
	left: 0px;
}

@-moz-document url-prefix() {
    h1 {
        top: 2px;
    }
	
	#sectionTabs {
		top: 15px;
	}
}

