
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}

#header #curTab
{
	background-color: #B9B7B0 !important;
	background-image: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: white;
	padding: 0px;
	margin: 0px;
	color: #42423D;
	width:100%;
	height: 100%
}

a {
	text-decoration:  none;
	outline:none;
}

#contentDivider {
	margin-left: 370px;
	height: 6px;
	width: 100px;
	background: -webkit-gradient(linear, left top, left bottom, from(#B9B7B0), to(#B5B3AB));
	background: -moz-linear-gradient(top, #B9B7B0, #B4B2AA);
}

#content {
	font-size: 14px;
	-height: 100%
}

#content a
{
	color: #42423D;
	text-decoration:  none;
	font-weight: bold;
}

#content a:hover   {
	color: black;
}

#content h2 {
	text-transform:uppercase;
	font-size: medium;
}

#mPlayer {
	width: 100%;
	margin: 0px 0px 20px 0px;
	padding: 10px 0px 10px 0px;
	background-color: #B9B7B0;
	border-bottom: 1px solid #50463d;
	background: -webkit-gradient(linear, left top, left bottom, from(#B9B7B0), color-stop(0.45, #A9A7A0), color-stop(0.50, #999790));
	background: -moz-linear-gradient(top, #B9B7B0, #A9A7A0 45%, #999790 50%);
	background: -ms-linear-gradient(top, #B9B7B0, #A9A7A0 45%, #999790 50%);
	background: -o-linear-gradient(top, #B9B7B0, #A9A7A0 45%, #999790 50%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B9B7B0, endColorstr=#999790)";
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#B9B7B0, endColorstr=#999790);
	text-transform: uppercase;
	font-size: 0.9em;
	color: #50463d;
	text-shadow: 0px 1px 1px #E9E7E0;
	white-space: nowrap;
 	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis; 
}

#mPlayer a
{
	margin: 0px 0px 0px;
	padding: 10px 10px 10px;
	text-decoration:  none;
	font-weight: bold;
	color: #50463d;
	display:inline;
	text-shadow: 0px 1px 1px white;
	border: 1px solid transparent;
	-webkit-transition-duration: 0.2s;
}

#mPlayer #play
{
	padding: 10px 20px 10px 20px;
}

#mPlayer a:hover {
	border: 1px solid #50463d;
}

#songInfo {
	display: inline;
	margin-left:10px;
	text-transform: none;
}

#songTime {
	display: inline;
	margin-left:10px;
	margin-right:10px;
}

#progressBar {
	width: 100%;
}

#loadBar {
	margin: -20px 0px 20px;
	width: 100%;
	height: 2px;
	border-top: 1px solid #999790;
	background-color: #c9c7C0;
	border-bottom: 1px solid #999790;
	border-right: 0px solid #797770;
}

#time {
	position: absolute;
	width: 18px;
	height: 10px;
	margin: -6px 0px 0px;
	background-color: #999790;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #999790), color-stop(0.55, #B9B7B0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-duration: 0.2s;
	cursor: pointer;
	z-index: 5;
	border: 1px solid #797770;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

#volBar {
	background-color: #A9A7A0;
	width: 36px;
	height: 0px;
	display: none;
	position: absolute;
	margin-left:-42px;
	margin-top:18px;
	-border: 1px solid #50463D;
	cursor: pointer;
	cursor: hand;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index:5;
	opacity: 0;
	-webkit-transition: height 0.2s ease;
	background: -webkit-gradient(linear, left bottom, right bottom, from(#B9B7B0), color-stop(0.45, #A9A7A0), color-stop(0.50, #999790));
	background: -moz-linear-gradient(right, #999790 50%, #A9A7A0 55%, #B9B7B0);
	background: -ms-linear-gradient(right, #999790 50%, #A9A7A0 55%, #B9B7B0);
	background: -o-linear-gradient(right, #999790 50%, #A9A7A0 55%, #B9B7B0);
	border: 1px solid #797770;
	border-top: 0px solid transparent;
}

#volume {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0px solid transparent;
	-webkit-transition-duration: 0s;
}

#volume:hover {
	/*background: -webkit-gradient(linear, left bottom, right bottom, from(#B9B7B0), color-stop(0.45, #A9A7A0), color-stop(0.50, #999790));
	-background: -moz-linear-gradient(right, #999790 50%, #A9A7A0 55%, #B9B7B0);*/
	background-color: #B9B7B0;
	border: 1px solid #797770;
	border-bottom: 0px solid transparent;
}

#volSlider {
	margin-left: 3px;
	margin-top: 3px;
	display: none;
	width: 28px;
	height: 10px;
	background-color: #999790;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #999790), color-stop(0.55, #B9B7B0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #B9B7B0 55%, #E9E7E0);
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #797770;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

#mediaSidebar {
	margin: -20px 0px 0px;
	padding: 20px;
	background-color: #e9e7e0;
	background-image:url('tile2.gif');
	float: left;
	width:180px;
	height: 100%;
	overflow: hidden;
	border-right: 1px solid #c9c7c0;
	text-align:center;
}

#mediaSidebar h2 {
	margin: 0px;
	display: none;
}

#sidebarContent a:hover {
	color:black;
}

#sidebarContent ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: small;
	text-align:left;
}

#sidebarContent li {
	padding: 2px 5px 2px 5px;
	white-space: nowrap;
	overflow: hidden;
 	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis; 
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	
}

#sidebarContent #allPlaylists {
	margin: 0px -20px 0px -60px;
}

#sidebarContent #allPlaylists li{
	padding-left: 60px;
}

#sidebarContent .playlist a {
	font-weight: normal !important;
}

#sidebarContent .folderContents {
	height:0px;
	opacity:0;
	overflow:hidden;
	--webkit-transition: all 0.5s ease;
	padding-left:15px;
}

#curPl {
	background-color: #B9B7B0;
	color: #50463d;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, #999790), color-stop(0.55, #b9b7b0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	border-top-color: #d9d7d0 !important;
	border-bottom-color: #898780 !important;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
}

#curPl a {
	color: #1A1613;
	text-shadow: 0px 1px 1px white;
}

#curPl a:hover {
	color: black;
}

#searchBox {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.55, #fff), color-stop(0.85, #E9E7E0), to(#B9B7B0));
	background: -moz-linear-gradient(bottom, #fff 55%, #E9E7E0 85%, #b9b7b0);
	background: -ms-linear-gradient(bottom, #fff 55%, #E9E7E0 85%, #b9b7b0);
	background: -o-linear-gradient(bottom, #fff 55%, #E9E7E0 85%, #b9b7b0);
	width: 167px;
	margin: 5px 0px 10px;
	background-color: white;
	padding: 3px 2px 2px 7px;
	border: 1px solid #898780;
}

#searchText{
	border: none;
	width: 140px;
	background-color: transparent;
}

#searchText:focus{
	outline: none;
}

#searchClear{
	margin-top: 1px;
	margin-left: 3px;
	cursor: pointer;
	cursor: hand;
}

#searchClear:hover {
	cursor: pointer;
	cursor: hand;
}
	
#typeSelect ul{
	list-style: none;
	width:180px;
	padding:0px;
	margin: 10px 0px 15px;
}

#typeSelect li {
	display:inline;
}
	
#typeSelect a {
	background-color: #B9B7B0;
	color: #50463d;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, #999790), color-stop(0.55, #b9b7b0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	padding: 8px 7px 8px;
	border-width: 0px;
	border: 1px solid #898780;
	-border-left: 1px solid #C9C7C0;
	font-size: smaller;
	-webkit-transition: all 0.3s ease;
}

#typeSelect li:first-child a {
	border-right: none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-radius: 5px 0px 0px 5px;
}

#typeSelect li:last-child a {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-radius: 0px 5px 5px 0px;
	border-left: none;
}

#typeSelected {
	background: -webkit-gradient(linear, left top, left bottom, from(#797770), color-stop(0.15, #999790), to(#b9b7b0)) !important; 
	background: -moz-linear-gradient(top, #797770, #999790 15%, #b9b7b0) !important; 
	background: -ms-linear-gradient(top, #797770, #999790 15%, #b9b7b0) !important; 
	background: -o-linear-gradient(top, #797770, #999790 15%, #b9b7b0) !important; 
	background-color: #999790;
	color: #3D332A !important;
}

#main {
	-webkit-transition-duration:0.2s;
}

#main h2 {
	padding-left: 240px;
}

#main a {
	margin: 0px;
	padding: 0px 20px 0px;
}

#main li {
	margin: 0px 0px 0px -20px;
	padding: 5px 0px 5px;
	white-space: nowrap;
 	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis; 
	border-bottom: 1px solid #c9c7c0;
}

#main ul{
	list-style: none;
	padding:0px;
}

#curSong {
	background-color: #D9D7D0;
	border-top: 1px solid #e9e7e0;
}

#volumePopover {
	height: 50px;
	width: 106px;
	padding: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 90%;
	margin-top: -70px;
	margin-left: -76px;
	text-align: center;
	z-index: 4;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	color: white;
	filter:
		progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: 0;
	display: none;
	text-transform: uppercase;
	font-size:larger;
	text-shadow: 0px 0px 3px black;
	font-weight: bolder;
}

#volumePopover #volumeOuter {
	width: 100px;
	height: 10px;
	padding: 3px;
	border: 1px solid white;
	margin-top: 10px;
}

#volumePopover #volumeInner {
	width: 100px;
	height: 10px;
	background-color: white;
}#000000


#backdrop {	
	background-color: black;
	filter:
		progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 3;
}

#libraries {
	display: none;
	position: absolute;
	background-color: black;
	filter:
		progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	background-color: rgba(0,0,0,0.7);
	color: #B9B7B0;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	vertical-align: middle;
	z-index: 4;
}

#libraries h2 {
	text-shadow: 0px 0px 8px black;
}

#libraries .libButton{
	background-color: #B9B7B0;
	color: #50463d;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, #999790), color-stop(0.55, #b9b7b0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	border-width: 0px;
	border: solid black 1px;
	display: block;
	padding: 5px;
	width: 300px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	vertical-align: middle;
	cursor: pointer;
}

#libraries .libButton:hover{
	color: black;
}

#libraries .libName {
	font-weight: bold;
}

#libraries .libTime{
	font-size: smaller;
}

#libraries #libSelected {
	background: -webkit-gradient(linear, left top, left bottom, from(#595750), color-stop(0.15, #797770), to(#999790)) !important; 
	background: -moz-linear-gradient(top, #595750, #797770 15%, #999790) !important; 
	background: -ms-linear-gradient(top, #595750, #797770 15%, #999790) !important; 
	background: -o-linear-gradient(top, #595750, #797770 15%, #999790) !important; 
	background-color: #999790;
	color: #3D332A !important;
}

#libraries #libSelected .libName {
	color: #E9E7E0;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.6);
	font-weight: bold;
}

#libraries #libClose {
	cursor: pointer;
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: -30px;
}

#reloadButton {
	background-color: #B9B7B0;
	color: #50463d;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.50, #999790), color-stop(0.55, #b9b7b0), to(#E9E7E0));
	background: -moz-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -ms-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	background: -o-linear-gradient(bottom, #999790 50%, #b9b7b0 55%, #E9E7E0);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	border-width: 0px;
	border: 1px solid #898780;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 1px;
	margin: 10px 0px 10px;
	cursor: pointer;
}

#reloadButton:hover {
	color: black;
}

.textBox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#fff));
	background: -moz-linear-gradient(top, #bbb, #fff);
}

