<div id='content'>
	<div id='main'style='float:left'>
		<h2>About Me</h2>
		<p>I'm a software engineer currently living in Seattle, WA.</p>		
		<h2>About the Website</h2>
		<p>I like to mess around with emerging standards, therefore you might find that it doesn't render consistently accross browsers. 
		Technologies such as HTML5 and CSS3 were employed. The backend uses a python framework called web.py running on Google App Engine.</p>
	</div>
	<link rel="stylesheet" type="text/css" href="../static/floatybox.css">	
	<div id='floatybox' style='float:right'>
		<h2>Contact Me</h2>
		<p>Email Me: jarman [at] jarmanrogers.com</p>
	</div>
</div>