<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/influx.css"></link>
	<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"></link>
	<title>Create a post</title>
</head>
<body>
	<div id='header'>
		<h1><a href='createPost'>inFlux</a></h1>
		<div id='login'><a href='#'>login</a></div> 
	</div>
	<div id='content'>
		<form action="" method="post" id="mainForm">
			<input type="text" name="kw1" id="kw1" class="field"/><br />
			<input type="text" name="kw2" id="kw2" class="field"/><br />
			<input type="text" name="kw3" id="kw3" class="field"/><br />
			I'm interested in this search for: <br />
			<input type="range" name="duration" id="rangeSlider" ><div id="searchTime">1 month</div><br />
			<input type="submit" id="submitButton" value="Search"><br />
		</form>
	</div>
	<div id='results'>
	</div>
	<link rel="stylesheet" type="text/css" href="../static/glowbuttons.css">
	<script type="text/javascript" src="../static/jquery.min.js"></script>
	<script type="text/javascript" src="../static/influx.js"></script>
</body>
</html>